    <a class="pGlow" href="/">Home</a>
    <a class="pGlow" href="/priSpells">Index</a>
    <a class="pGlow" href="/priSpells/pri1">Level 1</a>
    <a class="pGlow" href="/priSpells/pri2">Level 2</a>
    <a class="pGlow" href="/priSpells/pri3">Level 3</a>
    <a class="pGlow" href="/priSpells/pri4">Level 4</a>
    <a class="pGlow" href="/priSpells/pri5">Level 5</a>
    <a class="pGlow" href="/priSpells/pri6">Level 6</a>
    <a class="pGlow" href="/priSpells/pri7">Level 7</a>
  