    <a class="glow" href="/">Home</a>
    <a class="glow" href="/wizSpells">Index</a>
    <a class="glow" href="/wizSpells/wiz1">Level 1</a>
    <a class="glow" href="/wizSpells/wiz2">Level 2</a>
    <a class="glow" href="/wizSpells/wiz3">Level 3</a>
    <a class="glow" href="/wizSpells/wiz4">Level 4</a>
    <a class="glow" href="/wizSpells/wiz5">Level 5</a>
    <a class="glow" href="/wizSpells/wiz6">Level 6</a>
    <a class="glow" href="/wizSpells/wiz7">Level 7</a>
    <a class="glow" href="/wizSpells/wiz8">Level 8</a>
    <a class="glow" href="/wizSpells/wiz9">Level 9</a>