<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Spells - Table of Contents</title>
</head>
<body>
  <h2>Select your Class</h2>
  <a href="/wizSpells">Wizard Spells</a><br>
  <a href="">Priest Spells</a><br>
</body>
</html>