<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Spells - Table of Contents</title>
</head>
<body>
  <section id="mainPage">
    <h1 id="mainPage" class="glowConst">Select your Class</h1>
    <a id="mainPage" class="glowConst" href="/wizSpells">Wizard Spells</a>
    <a id="mainPage" class="glowConst" href="">Priest Spells (Under Construction)</a>
  </section>
</body>
</html>