<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Spells - Table of Contents</title>
</head>
<body>
  <h1 class="glowConst">Select your Class</h1>
  <a class="glowConst" href="/wizSpells">Wizard Spells</a><br>
  <a class="glowConst" href="">Priest Spells (Under Construction)</a><br>
</body>
</html>