<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Priest Spells</title>
</head>
<body>
  <div>
    <aside id="priAside">
      <%- include('../partials/priAside.ejs') %>
    </aside>
    <main>
      <h1 class="pGlowConst">Priest Spells</h1>
      <h3 class="pGlowConst">Select Your Level</h3>
    </main>
  </div>
</body>
</html>