<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Priest Spells</title>
</head>
<body>
  <div>
    <aside id="priAside">
      <%- include('../partials/priAside.ejs') %>
    </aside>
    <main>
      <nav>
        <h1 class="pGlowConst">Priest Spells (6th Level)</h1>
        <a class="pGlow" href="/priSpells/new">Meditate on a New Spell</a>
      </nav>
      <ul>
        <% for (let i = 0; i < spells.length; i++) { %>
        <div>
          <% if (spells[i].level == 6) { %>
            <a class="pGlow" href="/priSpells/<%=spells[i]._id%>"><%=spells[i].name%></a>
          <% } else { %>
          <% } %>  
        </div>
        <% } %>
      </ul>
    </main>
  </div>
</body>
</html>