<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Meditate on a New Spell</title>
  </head>
  <body>
    <div>
      <aside id="priAside">
        <%- include('../partials/priAside.ejs') %>
      </aside>
      <main>
        <header>
          <h1 class="pGlowConst">Meditate on a New Spell</h1>
        </header>
        <form action="/priSpells" method="POST">
          <label for="spellLvl">Level</label><br>
          <input type="text" name="level" placeholder="Spell Level" id="spellLvl"><br>

          <label for="spellName">Spell Name</label><br>
          <input type="text" name="name" placeholder="Spell Name" id="spellName"><br>

          <label for="sphere">Spell Sphere</label><br>
          <input type="text" name="sphere" placeholder="Spell Sphere" id="sphere"><br>

          <label for="range">Range</label><br>
          <input type="text" name="range" placeholder="Spell Range" id="range"><br>

          <label for="duration">Duration</label><br>
          <input type="text" name="duration" placeholder="Spell Duration" id="duration"><br>

          <label for="aoe">Area of Effect</label><br>
          <input type="text" name="aoe" placeholder="Area of Effect" id="aoe"><br>

          <label for="components">Components</label><br>
          <input type="text" name="components" placeholder="Casting Components" id="components"><br>

          <label for="casting">Casting Time</label><br>
          <input type="text" name="casting" placeholder="Casting Time" id="casting"><br>

          <label for="saving">Saving Throw</label><br>
          <input type="text" name="saving" placeholder="Saving Throw" id="saving"><br>

          <label for="spellDesc">Spell Description</label><br>
          <textarea wrap="hard" name="description" cols="60" rows="20" placeholder="Spell Description Here" id="spellDesc"></textarea><br>
          <input type="submit" value="Transcribe Spell">
        </form>
      </main>
    </div>
  </body>
</html>
