:root {
  --page: rgb(183, 180, 144);
}

body {
  background-color: var(--page);
  font-family: 'Alegreya SC', serif;
  display: flex;
  flex-direction: column;
  /* background-image: url('https://images.pexels.com/photos/220067/pexels-photo-220067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-image: url('https://images.pexels.com/photos/7978845/pexels-photo-7978845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

div {
  display: flex;
  flex-direction: row;
}

aside {
  width: 15%;
  padding: 20% 4% 20% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 85%;
  padding: 4%;
}

footer {
  display: flex;
  flex-direction: row;
}

a {
  padding: 1%;
}

p {
  white-space: pre-wrap;
}

.glow {
  /* font-size: 20px; */
  /* color: #fff; */
  color: #fff;
  /* text-align: center; */
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}