:root {
  --page: rgba(186, 158, 55, 0.141);
  --text: white;
  --glow1: #e6a500;
  --glow2: #ffd54d;
  /* yellow */
  /* --glow1: #e6c400;
  --glow2: #fffc4d; */
  /* pink */
  /* --glow1: #e60073;
  --glow2: #ff4da6; */
}

@font-face {
  font-family: SidheNoble;
  src: url(/fonts/SidheNoble-m2dj.ttf);
}

body {
  background-color: var(--page);
  font-family: SidheNoble;
  font-size: 20px;
  /* font-family: 'Alegreya SC', serif; */
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url(/images/parchment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: left; */
  color: var(--text);
}

div {
  display: flex;
  flex-direction: row;
}

aside {
  width: 15%;
  padding: 2% 2% 10% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(129, 9, 9);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-style: double;
  border-color: goldenrod;
  margin: 0% 4% 0% 4%;
  color: var(--text);
}

main {
  width: 70%;
  padding: 2%;
  margin: 4% 10% 4% 10%;
  color: var(--text);
}

#mainPage {
  margin: 5% 20% 5% 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: row;
}

a {
  padding: 1%;
  color: var(--text);
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

input, textarea {
  width: 80%;
  margin: 1%;
  padding: 3px;
  background-color: var(--page);
  border-radius: 5px;
  color: var(--text);
}

button {
  margin: 0.5%;
  padding: 3px;
  background-color: var(--page);
  border-radius: 5px;
  color: var(--text);
}

.spellDesc {
  color: var(--text);
  padding-inline-end: 15px;
}

p {
  white-space: pre-wrap;
  /* font-family: 'Alegreya SC', serif; */
}

.glow:hover {
  color: var(--text);
  text-align: left;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px var(--text), 0 0 15px var(--text), 0 0 10px var(--glow1), 0 0 25px var(--glow1), 0 0 250px var(--glow1), 0 0 300px var(--glow1), 0 0 40px var(--glow1);
  }
  
  to {
    text-shadow: 0 0 10px var(--text), 0 0 20px var(--glow2), 0 0 20px var(--glow2), 0 0 30px var(--glow2), 0 0 40px var(--glow2), 0 0 50px var(--glow2), 0 0 60px var(--glow2);
  }
}

.glowConst {
  color: var(--text);
  text-align: left;
  -webkit-animation: glowConst 1s ease-in-out infinite alternate;
  -moz-animation: glowConst 1s ease-in-out infinite alternate;
  animation: glowConst 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowConst {
  from {
    text-shadow: 0 0 5px var(--text), 0 0 15px var(--text), 0 0 10px var(--glow1), 0 0 25px var(--glow1), 0 0 250px var(--glow1), 0 0 300px var(--glow1), 0 0 40px var(--glow1);
  }
  
  to {
    text-shadow: 0 0 10px var(--text), 0 0 20px var(--glow2), 0 0 20px var(--glow2), 0 0 30px var(--glow2), 0 0 40px var(--glow2), 0 0 50px var(--glow2), 0 0 60px var(--glow2);
  }
}

