<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Wizard Spells</title>
</head>
<body>
  <nav>
    <h1>Wizard Spells</h1>
    <a href="/wizSpells/new">Transcribe a New Spell</a>
  </nav>
  <aside>
    <ul>
      <% for (let i = 0; i < spells.length; i++) { %>
        <li>
        <!-- <div class="product">
          <div class="effect-1"></div>
          <div class="effect-2"></div>
          <div class="content"> -->
            <a class="glow" href="/wizSpells/<%=spells[i]._id%>"><%=spells[i].name%></a>
          <!-- </div>
        </div> -->
        </li>
      <% } %>
    </ul>
  </aside>
</body>
</html>