<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Wizard Spells</title>
</head>
<body>
  <!-- <a href="/wizSpells/new">Transcribe a New Spell</a> -->
  <div>
    <aside>
      <%- include('../partials/wizAside.ejs') %>
    </aside>
    <main>
      <h1>Wizard Spells</h1>
      <h3>Select Your Level</h3>
    </main>
  </div>
</body>
</html>