<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Wizard Spells</title>
</head>
<body>
  <nav>
    <h1>Wizard Spells</h1>
    <a href="/wiz2Spells/new">Transcribe a New Spell</a>
  </nav>
  <aside>
    <ul>
      <% for (let i = 0; i < spells.length; i++) { %>
        <li>
          <a href="/wiz2Spells/<%=spells[i]._id%>"><%=spells[i].name%></a>
        </li>
      <% } %>
    </ul>
  </aside>
</body>
</html>